body {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
}

ol {
  margin-top: 10px;
}

ol li {
  padding: 5px;
}

.container {
  justify-content: center;
  width: 100%;
  border-radius: 10px;
}

.navbar {
  background-color: #ff6600;
}

.main {
  background-color: white;
  border-radius: 0px 0px 10px 10px;
  padding: 20px;
}

#login_link {
  align-self: flex-end;
}
