body {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
}

.button.newStory {
  /* display: inline-block; */
}

.container {
  justify-content: center;
  width: 100%;
  border-radius: 10px;
}

.navbar {
  background-color: #ff6600;
}

.body {
  background-color: #fff;
  height: 80%;
}

#login_link {
  align-self: flex-end;
}

#user_profile {
  position: absolute;
  margin-left: 300px;
  margin-top: 100px;
}
